<app-user-login></app-user-login>
<div class="container">
  <h1>
    Registration
  </h1>
  <mat-form-field [hideRequiredMarker]="true">
    <input matInput placeholder="First Name" [formControl]="firstName" required/>
  </mat-form-field>
  <mat-form-field [hideRequiredMarker]="true">
    <input matInput placeholder="Last Name" [formControl]="lastName" required/>
  </mat-form-field>
  <mat-form-field [hideRequiredMarker]="true">
    <input matInput placeholder="Username" [formControl]="username" required/>
    <mat-error *ngIf="username !== undefined && username.invalid">{{getUsernameErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" placeholder="Email" [formControl]="email">
    <mat-error *ngIf="email !== undefined && email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [formControl]="password"
           [type]="hidePassword ? 'password' : 'text'"/>
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">
      {{hidePassword ? 'visibility' : 'visibility_off'}}
    </mat-icon>
    <mat-error *ngIf="password !== undefined && password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Confirm Password" [formControl]="confirmPassword" />
      <mat-error *ngIf="password !== undefined && confirmPassword !== undefined
      && password !== confirmPassword">Your passwords didn't match.</mat-error>
    </mat-form-field>
  <button mat-raised-button color="primary" (click)="submit()">Register</button>
</div>
