.container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.container > * {
  width: 100%;
}

.right-align {
  text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}
