<head>
  <title>User Post List</title>
</head>
<body>
  <h1>User Posts</h1>
  <mat-divider></mat-divider>
  <br>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let post of userPosts;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
        <mat-panel-description>
          by {{post.publisher}} on {{post.created | date: 'MM/dd/yyyy'}}
        </mat-panel-description>
        <mat-icon class="card-avatar">account_circle</mat-icon>
      </mat-expansion-panel-header>

      <mat-action-row>
        <div class="card-info">
          <div mat-line>{{post.upvotes}} votes</div>
          <div mat-line>{{post.view_count}} views</div>
        </div>
        <a routerLink="/post/{{ post.id }}"><button mat-raised-button color="primary">Detail</button></a>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</body>
