<head>
  <title>User Post List</title>
</head>
<body>
  <h1>User Posts</h1>
  <mat-divider></mat-divider>
  <br>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let post of userPosts;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{post.created | date: 'MM/dd/yyyy'}}
        </mat-panel-description>
        <span class="discussion-display-name">
          {{post.display_name}}
        </span>
        <div class="card-avatar">
          <mat-icon *ngIf="post.image === ''" class="discussion-list-user-icon">account_circle</mat-icon>
          <div mat-card-avatar *ngIf="post.image !== ''"
               [style.backgroundImage]="'url('+ post.image + ')'" class="discussion-list-user-icon"></div>
        </div>
      </mat-expansion-panel-header>
      {{post.content}}
      <mat-action-row>
        <div class="card-info">
          <div mat-line>{{post.upvotes}} votes</div>
          <div mat-line>{{post.view_count}} views</div>
        </div>
        <a routerLink="/post/{{ post.id }}"><button mat-raised-button color="primary">Detail</button></a>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</body>
