.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  flex-basis: 0;
}

.card-avatar {
  margin-right: 10px;
  display: inline-block;
}

.card-info {
  padding-right: 79%;
}

.discussion-list-user-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.discussion-display-name {
  margin-right: 10px;
}
