<mat-toolbar color="secondary" role="navigation">
  <mat-toolbar-row>
    <a [routerLink]="['/dashboard']"><img  src="../../../../assets/logo.png"></a>
    <a mat-button [routerLink]="['/dashboard']">Monterey Bay Programming Team</a>
    <span class="spacer"></span>
    <a mat-icon-button [matMenuTriggerFor]="menu">
      <div *ngIf="profile !== null" class="nav-user">
        <mat-icon *ngIf="profile.image === ''" class="nav-user-icon">account_circle</mat-icon>
        <div mat-card-avatar *ngIf="profile.image !== ''"
             [style.backgroundImage]="'url('+ profile.image + ')'" class="nav-user-icon"></div>
      </div>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary" role="navigation" class="nav">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-nav-list>
      <mat-list-item>
        <a [routerLink]="['/challenge']">Challenges</a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="['/announcement']">Announcements</a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="['/discussion']">Discussion</a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="['/scoreboard']">Scoreboard</a>
      </mat-list-item>
    </mat-nav-list>
    <div>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/profile">
          <span>Profile</span>
        </a>
        <app-logout></app-logout>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

