.brand-icon {
  width: 50px;
  height: 50px;
}

.spacer {
  flex: 1 1 auto;
}

.nav-user-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.nav-user .mat-icon, .nav-user .mat-icon-button i {
  line-height: normal;
}

.nav .mat-list-item {
  float: left;
  color: white;
  font-size: 13px;
}

.search-bar {
  display: flex;
  flex-flow: row wrap
}

.mat-nav-list {
  padding-top: 0;
}
