<head>
  <title>Discussion</title>
</head>

<body>
  <h1>Discussion</h1>
  <a routerLink="/discussion/newpost"><button mat-raised-button>New Post</button></a>
  <br><br>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let card of discussionData;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{card.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{card.publisher}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{card.content}}
      <mat-action-row>
        <a routerLink="/discussion/detail"><button mat-raised-button color="primary">Detail</button></a>
      </mat-action-row>
      </mat-expansion-panel>
  </mat-accordion>
</body>
