<head>
  <title>Discussion</title>
</head>

<body>
  <h1>Discussion</h1>
  <a routerLink="/discussion/newpost"><button mat-raised-button>New Post</button></a>
  <br><br>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let discussion of discussions;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{discussion.title}}
        </mat-panel-title>
        <mat-panel-description>
          by {{discussion.publisher}} on {{discussion.created | date: 'MM/dd/yyyy'}}
        </mat-panel-description>
        <mat-icon class="card-avatar">account_circle</mat-icon>
      </mat-expansion-panel-header>

      <!--{{discussion.content}}-->

      <mat-action-row>
        <div class="card-info">
          <div mat-line>{{discussion.upvotes}} votes</div>
          <div mat-line>{{discussion.view_count}} views</div>
        </div>
        <a routerLink="/discussion/{{ discussion.id }}"><button mat-raised-button color="primary">Detail</button></a>
      </mat-action-row>
      </mat-expansion-panel>
  </mat-accordion>
</body>
