.title {
  font-family: Open Sans;
}

.input {
  font-family: Open Sans;
  text-align:left;
}

.inputDesc {
  text-align: left;
}

.output {
  font-family: Open Sans;
  text-align: left;
}

.outputDesc {
  text-align: left;
}

