<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<div *ngIf="challenge !== null">
  <h1 class="title">
    <b>{{challenge.title}}</b>&nbsp;
    <div *ngIf="completed !== true">
    <button id="favorite" mat-button (click)="favorite()"><i class="far fa-star fa-2x"></i></button>
    </div>
  </h1>
  <hr>
  <br>
  <div [innerHTML]="challenge.content"></div>
  <br>

  <!-- File submit -->
  <div class="form-group">
    <label for="file">Upload submission here</label>
    <br>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
    <button mat-raised-button (click)="submit()">Submit</button>
  </div>
  <div>
    {{ challenge.publisher }}
  </div>
  <div>
    {{ challenge.created | date: 'MM/dd/yyyy' }}
  </div>
</div>
</html>
