.title, h4 {
  font-family: Open Sans;
}

.input, .output, .summary {
  font-family: Open Sans;
  text-align:left;
}

.inputDesc, .outputDesc {
  font-family: Open Sans;
  text-align:left;
}

.form-group {
  text-align: left;
}

#favorite{
  position:relative;
  top:-10px;
  left:0px;
}

table.sample {
  margin-bottom: 20px;
  text-align: left;
  border: 2px solid #666;
  width: 100%;
  padding: 10px;
  background-color: #ccc;
}

.table-sample, table.sample {
  margin-top: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table {
  background-color: transparent;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
