<!DOCTYPE html>

<html>
<div *ngIf="challenge !== null">
  <h1 class="title">
    <b>{{challenge.title}}</b>
  </h1>
  <div *ngIf="challenge.accepted === true">
    <mat-icon>check_circle</mat-icon>
  </div>
  <div *ngIf="challenge.accepted === false">
    <mat-icon *ngIf="challenge.attempted === true">error_outline</mat-icon>
  </div>
  <br>
  <div *ngIf="challenge.accepted === false">
    <button mat-icon-button (click)="favorite()">
      <mat-icon *ngIf="challenge.todo">start</mat-icon>
      <mat-icon *ngIf="!challenge.todo">star_border</mat-icon>
    </button>
  </div>
  <hr>
  <br>
  <div [innerHTML]="challenge.content"></div>
  <br>

  <!-- File submit -->
  <div class="form-group">
    <label for="file">Upload submission here</label>
    <br>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
    <button mat-raised-button (click)="submit()">Submit</button>
  </div>
  <div>
    {{ challenge.publisher }}
  </div>
  <div>
    {{ challenge.created | date: 'MM/dd/yyyy' }}
  </div>
</div>
</html>
