.profile-card {

}

.user p {
  margin-top: 15px;
}

.user-image {
  margin: auto;
  background-size: cover;
  width: 80px;
  height: 80px;
}

.user-icon {
  margin: auto;
  width: 80px;
  height: 80px;
  font-size: 80px;
}

.display-name {
  color: gray;
}

.heat-map {
  margin-top: 20px;
  background-color: gray;
  height: 100px;
}

.todo-progress {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.todo {
  height: 150px;
}

.activity {
  height: 150px;
}
