<div *ngIf="profile !== null">
  <mat-icon aria-label="This is suppose to be the user icon">account_circle</mat-icon>
  <div>
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput placeholder="Display Name" [formControl]="displayName" required/>
      <mat-error *ngIf="displayName !== undefined && displayName.invalid">{{getDisplayNameErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput placeholder="First Name" [formControl]="firstName" required/>
      <mat-error *ngIf="firstName !== undefined && firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput placeholder="Last Name" [formControl]="lastName" required/>
      <mat-error *ngIf="lastName !== undefined && lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="Default Language">
        <mat-option *ngFor="let language of languages" [value]="language.name">
          <mat-icon aria-label="This is suppose to be the language icon">code</mat-icon>
          {{ language.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--<mat-form-field>-->
      <!--<mat-select placeholder="Default Language" *ngIf="languages !== null"-->
                  <!--[(ngModel)]="selected" [formControl]="languageSelect">-->
        <!--<mat-option *ngFor="let language of languages" [value]="language.name">-->
          <!--{{ language.name }}-->
          <!--<mat-icon aria-label="This is suppose to be the language icon">code</mat-icon>-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
  </div>
  <button mat-raised-button (click)="submit()">Submit</button>
</div>
