.profile-card {
  max-width: 400px;
}

.profile-card-image {
  background-image: url('http://www.wishalley.com/pub/media/netbaseteam/Blog/customer_avatar/default/profile_1.png');
  background-size: cover;
}
