<div *ngIf="profile !== null">
  <div>
    Here is a user icon (changable)
  </div>
  <div>
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput placeholder="Display Name" [formControl]="displayName" required/>
      <mat-error *ngIf="displayName !== undefined && displayName.invalid">{{getDisplayNameErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput placeholder="First Name" [formControl]="firstName" required/>
      <mat-error *ngIf="firstName !== undefined && firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput placeholder="Last Name" [formControl]="lastName" required/>
      <mat-error *ngIf="lastName !== undefined && lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="Deafault Language">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="submit()">Submit</button>
</div>
