<head *ngIf="discussion !== null">
  <title>{{discussion.title}}</title>
</head>
<body *ngIf="discussion !== null">
  <h1>{{discussion.title}}</h1>
  <mat-card>
    <mat-card-header>
      <div class="discussion-user-icon">
        <mat-icon *ngIf="discussion.image === ''">account_circle</mat-icon>
        <div mat-card-avatar *ngIf="discussion.image !== ''"
             [style.backgroundImage]="'url('+ discussion.image + ')'"></div>
      </div>
      <mat-card-title>
        <h6>{{discussion.display_name}}</h6>
      </mat-card-title>

      <mat-card-subtitle>
        {{discussion.created | date: 'yyyy-MM-dd HH:MM:SS'}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-divider [inset]="true"></mat-divider>

    <mat-card-content>
      <br>
      <div [innerHTML]="discussion.content"></div>
    </mat-card-content>

    <mat-divider [inset]="true"></mat-divider>

    <mat-card-actions align="end">
      <div mat-line>
      </div>
      <div class="upvote">
        <button mat-icon-button (click)="upvoteDiscussion()">
          <mat-icon color="primary" *ngIf="discussion.upvoted">thumb_up</mat-icon>
          <mat-icon *ngIf="!discussion.upvoted">thumb_up</mat-icon>
        </button>
        {{discussion.upvotes}}
      </div>
    </mat-card-actions>
  </mat-card>

  <br>

  <h2>Comments</h2>

  <mat-divider></mat-divider>

  <div *ngFor="let comment of discussion.comments; let i = index">
    <mat-card>
      <mat-card-header>
        <div class="discussion-user-icon">
          <mat-icon *ngIf="comment.image === ''">account_circle</mat-icon>
          <div mat-card-avatar *ngIf="comment.image !== ''"
               [style.backgroundImage]="'url('+ comment.image + ')'"></div>
        </div>
        <mat-card-title>
          <h6>{{comment.display_name}}</h6>
        </mat-card-title>
        <mat-card-subtitle>
          {{comment.created | date: 'yyyy-MM-dd HH:MM:SS'}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content>
        <br>
        <div [innerHTML]="comment.content"></div>
      </mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-actions align="end">
        <div mat-line>
        </div>
        <div class="upvote">
          <button mat-icon-button (click)="upvoteComment(i)">
            <mat-icon color="primary" *ngIf="comment.upvoted">thumb_up</mat-icon>
            <mat-icon *ngIf="!comment.upvoted">thumb_up</mat-icon>
          </button>
          {{comment.upvotes}}
        </div>
      </mat-card-actions>
    </mat-card>
    <div class="comment-divider"></div>
  </div>
  <hr>
  <h2>Your Comment</h2>
  <form>
    <div [froalaEditor] [(froalaModel)]="editorContent"></div>
    <br>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  </form>
</body>
