.content {
  margin-top: 35px;
  text-align: center;
}

.sidenav-container {
  margin-top: 128px;
}

.mat-list-item {
  font-size: 13px;
}

.mat-list-item mat-icon {
  vertical-align: middle;
}


.user-content-container {
  margin-bottom: 50px;
}

.mat-drawer-container {
  background-color: white;
}
