<app-navbar></app-navbar>
<mat-sidenav-container fullscreen class="sidenav-container">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/submission">
          <mat-icon>file_upload</mat-icon>
          Submission
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/post">
          <mat-icon>comment</mat-icon>
          Post
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/todo">
          <mat-icon>view_list</mat-icon>
          To Do List
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/statistics">
          <mat-icon>assessment</mat-icon>
          Statistics
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="container">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
