<div *ngIf="submission !== null">
  <p>
    <a routerLink="/challenge/{{submission.challenge_id}}">
      Back to the challenge
    </a>
  </p>
  <h3>
    {{submission.challenge_id}}
  </h3>
  <p>
    <span class="submission-id">{{submission.id}}</span>
      <strong class="{{submission.status === 'Accepted' ? 'accepted' : ''}}">
        {{submission.status}}
      </strong>
    ({{submission.language.name}})
  </p>
  <pre class="file-content">
    <code>
      {{submission.content}}
    </code>
  </pre>
</div>
